
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>



    <div class="pagina1">
        <!-- Conteúdo da página 1 -->
        @Html.ActionLink("Voltar para a página 2", "Index", "Cadastro", new { id = "linkToPagina2" })
        <div class="loading-spinner" id="loadingSpinner" style="display: none;"></div>
    </div>
   



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
